<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}

  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <div class="franklin-content img">
    <a href="/">
      <img src="/assets/logo.png" alt="DataSturgeon"/>
    </a>
  </div>
  <p style="color:#268bd2;text-align:center;">On-demand technical help for scientists by experts</p>
</head>
<body>

<!-- Content appended here -->
